@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  background-color: #af8fc4;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

.App {
  text-align: center;
}

button {
  background-color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0.5rem 2rem;
}

p {
  font-size: 1.5vw;
}

img {
  display: block;
  width: 200px;
  height: 200px;
}

@media (max-width: 700px) {
  ul {
    padding: 0;
  }
  p {
    font-size: 5vw;
    margin: 0.5rem;
  }
}
